.component_border{
    width: 24rem;
    height: 16rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.4rem;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.component_border:hover .user_title{
    color: var(--primary-btn-color-hover);
}
.user_title{
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.user_description{
    display: -webkit-box;
    line-clamp: 4; /* tells how much lines to keep */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; /* tells in which direction (vertical or horizontal) to count the lines */
    overflow: hidden; /* hides all the lines from line 5 */
    overflow-wrap: break-word; /* break long words  */
    font-size: 1.1rem;
    line-height: 1.4;
    cursor: pointer;
    letter-spacing: 0.03rem;
    color: var(--secondary-color);
    min-height: 6.2rem;
}
.container{
    margin-top: auto;
    border-top: 0.1rem solid var(--border-color);
    display: flex;
    margin-top: 1.5rem;
    padding-top: 1.3rem;
}
.time{
    display: flex;
    gap: 0.4rem;
    color: var(--secondary-color);
}
.time p{
    font-size: 0.9rem;
    color: var(--secondary-color);
}
.icon_wrapper{
    display: none;
    margin-left: auto;
    cursor: pointer;
    color: var(--secondary-color);
}
.component_border:hover .icon_wrapper{
    display: block;
}
.icon_wrapper:hover{
    color: #ef4444;
}
@media (max-width: 1279px) {
    .component_border{
        width: 28rem;
    }
    .icon_wrapper{
        display: block;
    }
}
@media (max-width: 1023px) {
    .component_border{
        width: 22rem;
    }
}