.component_border{
    border: 2px solid black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}
.div_one{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.div_one div{
    display: flex;
    justify-content: center;
    rotate: 270deg;
    background-color: black;
    padding: 0.3rem;
    border-radius: 0.2rem;
}
.div_one p{
    font-size: 1.15rem;
}
.div_two{
    margin-left: auto;
}
.div_two a{
    font-size: 1.1rem;
    text-decoration: none;
    margin-left: 0.5rem;
    color: blue;
}
.div_two a:hover{
    color: red;
}