.component_border{
    padding: 0.5rem 3rem;
    display: flex;
    align-items: center;
    height: 5rem;
    border-top: 0.1px solid #f0f0f0;
    background-color: var(--background-color);
}
.div_one{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.icon_wrapper{
    rotate: 270deg;
    color: var(--secondary-color);
    border-radius: 0.2rem;
}
.div_one p{
    font-size: 0.95rem;
    letter-spacing: 0.03rem;
    color: var(--secondary-color);
}
.div_two{
    margin-left: auto;
}
.div_two a{
    font-size: 0.95rem;
    text-decoration: none;
    margin-left: 1.3rem;
    color: var(--secondary-color);
}
.div_two a:hover{
    color: var(--primary-color);
}
@media (max-width: 767px) {
    .component_border{
        flex-direction: column;
        height: auto;
        padding: 2rem 3rem;
    }
    .div_two{
        margin-top: 1rem;
        margin-left: 0;
    }
}
@media (max-width: 475px) {
    .component_border{
        padding: 2rem 1rem;
    }
}