.border_ofNDV{
    padding: 6rem 0rem;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.container{
    width: 45rem;
    border: 0.1rem solid var(--border-color);
    padding: 2.5rem;
    border-radius: 0.5rem;
    height: auto;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
.container_divOne{
    display: flex;
    padding-bottom: 0.5rem;
}
.container_divOne button{
    border: none;
    background-color: transparent;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    color: var(--secondary-color);
}
.container_divOne button:hover{
    color: var(--primary-color);
}
.container_divOne p{
    margin-left: auto;
    font-size: 0.9rem;
    color: var(--secondary-color);
}
.heading{
    margin-top: 2rem;
    font-size: 2.8rem;
    padding-bottom: 2rem;
    color: var(--primary-color);
    border-bottom: 0.1rem solid var(--border-color);
}
.description{
    min-height: 50vh;
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.35;
    letter-spacing: 0.05rem;
    padding-bottom: 4rem;
    color: var(--secondary-color);
}
.container_divTwo{
    margin-top: auto;
    border-top: 0.1rem solid var(--border-color);
    height: 5rem;
    display: flex;
    align-items: center;
}
.edit_btn{
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    pointer-events: none;
    border-radius: 0.3rem;
    background-color: transparent;
    color: var(--primary-btn-color);
    border: 0.1rem solid var(--primary-btn-color);
    display: none;
}
.delete_btn{
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.8rem 0rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #f45656;
}
.delete_btn:hover{
    color: #ec3535;
}